body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.empty {
  font-size: 16px;
  color:#ffc107;
}

.home {
  background-image: url('../images/weather.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem{
  margin-bottom: 10px;
}

.get_started{
  margin-bottom: 70px;
}

.header {
  margin-bottom: 50px;
  color: #FFFFFF;
}

#weathermap {
  height: 400px;
}